<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Beautiful Blog - Posts</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Blog Posts</h1>
        </header>
        <section class="posts">
            <% posts.forEach(post => { %>
                <article class="post">
                    <h2>
                        <%= post.title %>
                    </h2>
                    <p class="timestamp">Created At:
                        <%= post.createdAt.toDateString() %>
                    </p>
                    <p>
                        <%= post.content %>
                    </p>
                </article>
                <% }); %>
        </section>
        <a href="/posts/new" class="btn">Create a New Post</a>
    </div>
</body>

</html>